* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 0.2s;
	font-family: 'Karla', sans-serif;

	/* Color Variables */
	--black: #2a2a29;
	--white: #e4e4e5;
	--grey: #655c5a;
	--blue:  #097BCD;
	--orange: #F49F0A;

	box-sizing: border-box;
	scroll-behavior: smooth;

}

body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background-color: var(--white);
	font-size: 1.15em;
}

em {
	font-family: inherit;
}

header {

	/* Box Model */

	padding: 1em;
	position: fixed;

	mix-blend-mode: difference;

	/* Style */

	/* Flex */

}


section {
	padding-top: 10%;
	padding-left: 20%;
	padding-right: 30%;
}

section.hero {

	position: relative;
	height: 101vh;

	/* Flex */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	/* Other */
	overflow: hidden;
	z-index: 2 !important;
	background-color: var(--black);
	color: var(--white);
}

.hero a {
	color: var(--white);
}

.section-header {
	margin-bottom: 4rem;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	float: left;
	padding: 1em;
	padding-left: 4em;
}

nav a {
	text-decoration: none;
	font-family: "Playfair Display", serif;
	color: #d5d5d6;
	position: relative;
	mix-blend-mode: difference;
	filter: invert(100%);
}


/* Underline Class is used for the navigation underline animation */
a.underline {
	position: relative;
	text-decoration: none;
	color: inherit;
	border-color: inherit;
	padding-bottom: -1em;
	border: none;
}

a.underline:before {
	content: "";
	position: absolute;
	width: 0;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: var(--black);
	visibility: hidden;
	transition: all 0.3s ease-out;
}

a.underline:hover:before {
	visibility: visible;
	width: 100%;
}

a.roundedchip {
	font-family: 'Karla', sans-serif;
	border: 1px solid #e4e4e5;
	border-radius: 20px;
	text-decoration: none;
	padding: 0.4em;
	/* border-bottom: 2px dashed grey; */
}

/* Text Properties */

h1  {
	font-size: 4em;
	background-color: transparent;
	margin-bottom: 1.5rem;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
}

h2 {
	font-size: 3.25em;
	font-family: 'Playfair Display', serif !important;
	font-weight: 800;
}

h3 {
	font-size: 2.25em;
	font-family: 'Playfair Display', serif !important;
	font-weight: 900;
}

h4 {
	font-size: 1.75em;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
}

p {
	font-family: 'Karla', sans-serif;
	font-size: 1.15em;
	text-align: justify;
}

.smallcaps {
	/*font-family: 'IM Fell Double Pica SC', serif;/**/
	/*font-family: 'Vollkorn SC', serif;/**/
	font-family: 'Playfair Display SC', serif;
	font-weight: 700;

}

.postcard:nth-of-type(even) {
	flex-direction: row-reverse;
}

/*=================*/
/*  Media Queries  */
/*=================*/

/* Phones */
@media only screen and (min-width: 320px) {

	section {
		padding-left: 5%;
		padding-right: 5%;
	}

	section.hero {
		padding-bottom: 40%;
	}

	section.hero p {
		text-align: left;
	}

	header {
		top: auto;
		height: 10vh;
		bottom: -1px;
		background-color: var(--black);
		color: var(--white);
		justify-content: space-around;
	}

	nav li {
		padding-left: 2em;
		padding-right: 2em;
	}

	nav {
		padding-bottom: 1em;
	}

	.monogram {
		display: none;
	}
}

/* Desktop */
@media only screen and (min-width: 992px) {
	section {
		padding-left: 15%;
		padding-right: 35%;
	}

	section.hero {
		/* Box Model */
		height: 101vh;
		width: 100%;
		padding-bottom: 10%;
		padding-top: 10%;

	}

	.monogram {
		display: block;
	}

	header {
		top: 0;
		z-index: 999 !important;
		background: rgba(0,0,0,0);
		color: var(--black);
		width: 100%;
		height: 40%;
		display: flex;
		justify-content: space-between;

	}
}
