---
title: Jackson Daumeyer
---
<html>

{% include head.html %}
<link type="text/css" rel="stylesheet" href="css/blog.css">

<body>

	{% include header.html %}

	<section class="hero">
		<div>
			<h2><em>Hi!</em> I'm </h2>
			<h1> Jackson Daumeyer. </h1>
			<p> I make the technical accessible through design. </p>
		</div>
		<div>
			<a href="#section1"> &#8595; Scroll to see more </a>
		</div>
	</section>

	<section class="work" id="section1">

		{% for post in site.categories.work limit:3%}
			{% include postcard.html %}
		{% endfor %}

	</section>

</body>
</html>
