---
title: Jackson Daumeyer
---
<html>

{% include head.html %}
<link type="text/css" rel="stylesheet" href="css/blog.css">

<body>

	{% include header.html %}

	<section class="hero">
		<div>
			<h2><em>Hi!</em> I'm </h2>
			<h1> Jackson Daumeyer. </h1>
			<p>
				I make the technical accessible through design.
				Currently studying Computer Information Sciences
				and Communication Technology @ the Ohio State University
			</p>
		</div>
		<div>
			<a class="roundedchip" href="#section1"> &#8595; Scroll to see more </a>
		</div>
	</section>

	<section class="work bloglist" id="section1">

		<div class="section-header">
			<h2> My Work: </h2>
		</div>

		{% for post in site.categories.work limit:3%}
			{% include postcard.html %}
		{% endfor %}

	</section>

</body>
</html>
