<div class="postcard">

    {{ if post.image }}
        <a href="{{ post.url }}"><img src="{{ post.image | relative_url }}" /></a>
    {{ endif }}
    <content>
    <div class="card-header">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        <span class="date"> {{ post.date | date_to_string }} </span>
    </div>


    <p class="excerpt"> {{ post.excerpt | remove: "<p>" | remove: "</p>"}} <a class="highlight" href="{{ post.url }}">Read more </a></p>


 <!-- Unused
 <!-- Generate Tag List -->
<!--<ul class="chip">
<!--{% for tag in post.tags %}
<!--<li> {{ tag | capitalize }} </li>
<!--{% endfor %}
<!--</ul>
    </content>


</div>
