---
title: About Me
permalink: /about/
---
<html>

  {% include head.html %}
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/about.css" />

  <body>
    {% include header.html %}

    <section>

      <div class="container">
        <div id="profile">
            <img src="{{ site.baseurl }}/assets/images/profile-pic.png">
        </div>
        <h3> About Me: </h3>
        <p class="left"> <span class="smallcaps">I'm Jackson Daumeyer,</span> a Computer Science Student with a passion for design studying at The Ohio State University. My passion for design started when I read <em>The Design of Everyday Things</em> by Dan Norman. The stories of how bad design could influence people's lives really stuck with me and I knew from that day that I would work to make everything I can more accessible. I now carry this passion into every new project I take. </p>


      </div>
    </section>
  </body>

</html>
