<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/blog.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/post.css" />

    <body>
        {% include header.html %}

        <section class="article">

            <div class="title">
                <h2> {{ page.title }} </h2>
                <p> {{ page.date | date_to_string }} </p>
            </div>

            <content>
                {{ content }}
            </content>
        </section>

    </body>

</html>
